

<form>

<div>
  <mat-form-field class="example-full-width">
    <input #name matInput placeholder="Name" value="">
    <mat-hint>Please enter your name</mat-hint>
  </mat-form-field>
  </div>

<br>
    <mat-form-field>
    <mat-select placeholder="Select City"  name="data">
      <mat-option *ngFor="let data of City" [value]="data.name">
        {{data.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
<div>
  <br>
  <mat-form-field>
  <input matInput [matDatepicker]="picker" placeholder="Choose a date">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>
</div>
<br>
<div>
  <mat-form-field>
  <input matInput [matDatepicker]="pickers" placeholder="Choose a return">
  <mat-datepicker-toggle matSuffix [for]="pickers"></mat-datepicker-toggle>
  <mat-datepicker #pickers></mat-datepicker>
  </mat-form-field>
</div>
<br>
 <button mat-button>Make Trip!</button>


</form>
