
<h2>Car Details</h2>
<form class="example-form">
  
  <div>
  <mat-form-field class="example-full-width">
    <input #name matInput placeholder="Name" value="">
    <mat-hint>Please enter car name</mat-hint>
  </mat-form-field>
  </div>
  
  <div>
  <mat-form-field class="example-full-width">
    <input #type matInput placeholder="type" value="">
    <mat-hint>Please enter car type</mat-hint>
  </mat-form-field>
  </div>
  <div>
  <mat-form-field class="example-full-width">
    <input #col matInput placeholder="color" value="">
    <mat-hint>Please enter car color</mat-hint>
  </mat-form-field>
  </div>
  <div>
  <mat-form-field class="example-full-width">
    <input #num matInput placeholder="number" (input)="onSearchChange($event.target.value)" value="" required >
    <mat-hint>Please enter car number</mat-hint>
  </mat-form-field>
  </div>
  
  
  <div>
    <button mat-button [disabled]="Value">Disabled</button>

  </div>
</form>

