<form>
<div>
  <div class="form-group">
  <label>Name</label>
  <input id="Name" type="text" class="form-control">
  </div>
  <div class="form-group">
  <label>Address</label>
  <input id="Address" type="text" class="form-control">
  </div>

  <div class="form-group">
  <label>Mobile</label>
  <input id="Mobile" type="text" class="form-control">
  </div>

  <div class="form-group">
  <label>EmailID</label>
  <input id="eid" type="text" class="form-control">
  </div>



  <button type="button" class="btn btn-primary">Primary</button>
</div>
</form>