<p>
  validate works!
</p>
<form>
  <div>
  <label>Username</label>
  <input minlength="5" required ngModel name="UserName" #name="ngModel" id="UserName" (change)="Validate(name)" type="text">
   <div *ngIf="!name.valid">UserName is Compulssory.</div> 
    <br>
    <label>CollageName</label>
    <input required ngModel name="CollageName" #CollageName="ngModel" id="CollageName" (change)="Validate1(CollageName)" type="text">
   <div *ngIf="!CollageName.valid">UserName is Compulssory.</div> 
    <br>
   <label>Password</label>
   <input maxlength="7" required name="Password" #password id="Password"type="text">
    <br>
   <button (click)="val()">Submit</button>
   
  </div>